<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= library.names %> </title>
</head>
<body>
    <h1><%= library.names %> </h1>
    <ul>
        <li>City: <%= library.citys %> </li>
        <li>Email: <%= library.emails %> </li>
    </ul>
    <h2>Books</h2>
    <ul>
        <% for(let book of library.books) { %> 
            <li><%= book.name %> </li>
        <% } %> 
    </ul>
    <a href="/libraries/<%= library._id %>/books/new">Add Book</a>
    <a href="/libraries">All library</a>
    <form action="/libraries/<%= library._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>