<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= foundBook.name %> </title>
</head>
<body>
    <h1><%= foundBook.name %> </h1>
    <ul>
        <li>Price: <%= foundBook.price %> </li>
        <li>Category: <%= foundBook.category %> </li>
    </ul>
    <a href="/books">All books</a>
    <a href="/books/<%= foundBook._id %>/edit">Edit books</a>

    <form action="/books/<%= foundBook._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>